
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fontAwesome/css/all.min.css">
    <link rel="stylesheet" href="fontAwesome/css/bootstrap.min.css">
    <title>Zero Hunger</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        img {
            width:100%;
        }

        .textArea {
            padding-top: 230px;
            padding-left: 240px;
            color: green;
            font-size: 18px;
            font-style: italic;
        }
    </style>
</head>

<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" indicators interval="1000" pause=false>
        <div>
            <img style="height: 520px;" src="~/Photo/hun4.jpg" alt="Third slide">
        </div>
    </div>

    <div class="about-area">
        <h1 class="text-center mt-5 fw-bold">ABOUT US</h1>
        <hr style="color: red; width: 15%; margin: 20px auto; height: 3px">
        <div>
            <div class="container pt-5">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Photo/hun2.png" style="height: 320px; width: 100%" alt="">
                    </div>
                    <div class="col-md-6">

                        <h3>ZERO HUNGER</h3>
                        <p class="mt-5">
                            We've established an organization dedicated to providing nourishment to underprivileged individuals and children. We've noticed a significant amount of food wastage occurring daily in Dhaka city, particularly in office events and buffets. Our mission is to repurpose these surplus foods for the benefit of those in need.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>